// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
//importando o fontawesome

$fa-font-path: "../assets/fonts" !default; 

@import "font-awesome"; 

i[class^="fa-"], ion-icon[class^="fa-"] {    
   font-family: "FontAwesome" !important;
}
@font-face {
    font-family: 'RalewayMedium';
    src: url('../assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype'), 
    url('../assets/fonts/Raleway/Raleway-Medium.eot') format('embedded-opentype'),
    url('../assets/fonts/Raleway/Raleway-Medium.svg') format('svg'),
    url('../assets/fonts/Raleway/Raleway-Medium.woff') format('woff');
}
@font-face {
    font-family: 'RalewayLight';
    src: url('../assets/fonts/Raleway/Raleway-Light.ttf') format('truetype'), 
    url('../assets/fonts/Raleway/Raleway-Light.eot') format('embedded-opentype'),
    url('../assets/fonts/Raleway/Raleway-Light.svg') format('svg'),
    url('../assets/fonts/Raleway/Raleway-Light.woff') format('woff');
}
@font-face {
    font-family: 'MyriadRegular';
    src: url('../assets/fonts/Myriad/MyriadPro-Regular.otf') format('opentype'), 
    url('../assets/fonts/Myriad/MyriadPro-Regular.ttf') format('truetype'), 
    url('../assets/fonts/Myriad/MyriadPro-Regular.eot') format('embedded-opentype'),
    url('../assets/fonts/Myriad/MyriadPro-Regular.svg') format('svg'),
    url('../assets/fonts/Myriad/MyriadPro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'MyriadLight';
    src: url('../assets/fonts/Myriad/MyriadPro-Light.otf') format('opentype'), 
    url('../assets/fonts/Myriad/MyriadPro-Light.ttf') format('truetype'), 
    url('../assets/fonts/Myriad/MyriadPro-Light.eot') format('embedded-opentype'),
    url('../assets/fonts/Myriad/MyriadPro-Light.svg') format('svg'),
    url('../assets/fonts/Myriad/MyriadPro-Light.woff') format('woff');
}

.checkbox-md .checkbox-checked {
    border-color: #6fc3e7;
    background-color: #6fc3e7;
}
i{
    font-family: FontAwesome;
    font-style: normal;
    text-align: center;
}
.brands{
    font-family: 'FontAwesomeBrands';
}