page-recuperar-senha {
    .toolbar-background-md {
        border-color: #6fc3e7;
        background: #3c7995;
    }
    .back-button.show-back-button {
        color: #fff;
    }
    .toolbar-title-md {
        color: #ffffff;
        font-family: 'RalewayMedium',sans-serif;
    }
    p.texto {
        font-family: 'RalewayMedium',sans-serif;
        font-size: 15px;
        margin-top: 10px;
        color: #3c7995;
    }
    h2.email {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 20px;
        color: #3c7995;
        font-size: 20px;
    }
    .campoForm {
        padding: 0;
        min-height: 0;
    }
    .item-inner{
        padding-right: 0!important;
        border-bottom: 2px solid #3c7995!important;
    }
    input.text-input.text-input-md {
        margin: 0;
        width: 100%;
        padding: 7px 0;
        color: #3c7995;
        display: block;
    }
    input.text-input.text-input-md::-ms-input-placeholder{
        color: #3c7995;
    }
    input.text-input.text-input-md::-webkit-input-placeholder{
        color: #3c7995;
    }
    .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
        border-bottom-color: transparent!important;
    }
    button.enviarForm {
        padding: 10px;
        display: block;
        width: 100%;
        background: #3c7995;
        border-bottom: 4px solid #329ac5;
        color: #fff;
        font-family: 'RalewayMedium',sans-serif;
        font-size: 15px;
    }
    .list-md {
        margin-bottom: 25px;
    }
}
